* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./images/Background\ Pattern.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Nav Bar Styling*/
nav {
    background-color: #6a5b4a;
    border-bottom: 5px solid #cabdb1;
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    font-size: 40px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
}

nav li {
    display: inline-block;
    padding: 10px 50px;
}

nav li a {
    color: #cabdb1;
    text-decoration: none;
    font-weight: bold;
}

nav li a:visited {
    color: #cabdb1;
}

nav li a:hover {
    color: black;
}

/*Header Styling*/
header {
    background-color: #163f56;
    color: #cabdb1;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /*min-height: 350px;*/
    width: 75%;
    margin: 0 auto;
    border-left: 2px solid #6a5b4a;
    border-right: 2px solid #6a5b4a;
}

header h1 {
    font-size: 9vw;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    padding: 50px 50px 0px 2.5%;
    width: 70%;
}

header h2 {
    font-size: 30px;
    padding: 0px 2.5%;
}

header h3 {
    font-size: 20px;
    padding: 0px 2.5%;
    display: inline-block;
}

#profile_picture {
    width: 20%;
    border: 3px solid #cabdb1;
    border-radius: 50%;
    float: right;
    position: relative;
    right: 2.5%;
    top: 50px;
}

.icon {
    width: 20px;
    color: #cabdb1;
}

/*Anchor Offset*/
.anchor {
    visibility: hidden;
    position: relative;
    bottom: 130px;
}

/*Article Styling*/
article {
    background-color: #163f56;
    color: #cabdb1;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 75%;
    margin: 0 auto;
    border-left: 2px solid #6a5b4a;
    border-right: 2px solid #6a5b4a;
}

article p {
    font-size: 20px;
    padding: 20px 10%;
}

article h2 {
    font-size: 35px;
    padding: 20px 2.5%;
    text-decoration: underline;
}

article h3 {
    font-size: 30px;
    padding: 20px 5%;
}

article h4 {
    font-size: 25px;
    padding: 20px 7.5%;
}

article h4 a {
    color:#cabdb1;
}

article h4 a:visited {
    color: #cabdb1;
}

article h4 a:hover {
    color:black;
}

article li {
    font-size: 20px;
    margin: 0px 15%;
}