* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./images/background_patterned_3.jpg);
    background-size: 500px;
}



/*Nav Bar Styling*/
nav {
    background-color: #6a5b4a;
    border-bottom: 5px solid #cabdb1;
    width: 100%;
    min-height: 40px;
    padding: 30px 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    padding: 10px 30px;
    flex-shrink: 1;
}

nav li a {
    color: #cabdb1;
    text-decoration: none;
    font-weight: bold;
}

nav li a:visited {
    color: #cabdb1;
}

nav li a:hover {
    color: black;
}

nav .icon {
    color:#cabdb1;
    width: 50px;
    display: none;
}

@media only screen and (max-width: 840px) {
    nav {
        display: flex;
        justify-content: end;
    }
    nav .icon {
        display: block;
        margin: 0 30px;
    }
    nav #navLinks {
        display: none;
    }
    nav #navLinks.show{
        display:block;
    }
    nav a {
        width: 100%;
    }
}

/*Header Styling*/
header {
    background-color: #163f56;
    color: #cabdb1;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 75%;
    margin: 0 auto;
    border-left: 2px solid #6a5b4a;
    border-right: 2px solid #6a5b4a;
    padding-bottom: 50px;
}

header h1 {
    font-size: 9vw;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    padding: 50px 50px 0px 2.5%;
    width: 70%;
}

header h2 {
    font-size: 30px;
    padding: 0px 2.5%;
}

header h3 {
    font-size: 20px;
    padding: 0px 2.5%;
    display: inline-block;
}

#profile_picture {
    width: 20%;
    border: 3px solid #cabdb1;
    border-radius: 50%;
    float: right;
    position: relative;
    right: 2.5%;
    top: 50px;
}

.icon {
    width: 20px;
    color: #cabdb1;
}

@media only screen and (max-width: 768px) {
    #profile_picture {
        float: none;
        position: relative;
        margin-top: 10px;
        width: 50%;
        margin: 0 25%;
        text-align: center;
    }

    header {
        text-align: center;
    }

    header h1 {
        width: 100%;
        font-size: 40px;
    }

    header h2 {
        font-size: 25px;
    }
}

/*Anchor Offset*/
.anchor {
    visibility: hidden;
    position: relative;
    bottom: 130px;
}

/*Article Styling*/
article {
    background-color: #163f56;
    color: #cabdb1;
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 75%;
    margin: 0 auto;
    border-left: 2px solid #6a5b4a;
    border-right: 2px solid #6a5b4a;
}

article p {
    font-size: 20px;
    padding: 20px 10%;
}

article h2 {
    font-size: 35px;
    padding: 20px 2.5%;
    text-decoration: underline;
}

article h3 {
    font-size: 30px;
    padding: 20px 5%;
}

article h4 {
    font-size: 25px;
    padding: 20px 7.5%;
}

article h4 a {
    color:#ffffff;
}

article h4 a:visited {
    color: #ffffff;
}

article h4 a:hover {
    color:black;
}

article li {
    font-size: 20px;
    margin: 0px 15%;
}

article p a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

